body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #f50505;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.nav-bar {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.nav-bar a:hover {
    background-color: #575757;
}

